.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.weather-details-box {
  display: flex; /* Flexbox for internal content alignment */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 50vh; /* Full viewport height */
  width: 50%; /* Box width */
  margin: 5vh auto; /* Horizontally center the box itself */
  border: 1px solid #0b0b0b; /* Optional: Border for debugging */
  border-radius: 8px;
  background-color: #808080;
}

.weather-details {
  margin-top: 20px;
  padding: 50px;
  border: 1px solid #f6f1f1;
  border-radius: 8px;
  width : 80%;
  height : 70%;
  background-color: #e98d0c;
}


.weather-details h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.weather-details p {
  font-size: 18px;
  margin: 5px 0;
}

