.App {
  text-align: center;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack content vertically */
  justify-content: flex-start; /* Align content from the top */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Ensure the container takes up the full viewport height */
  padding: 20px; /* Add some space around the content */
}


.App-header {
  justify-content: flex-start; /* Align content from top */
  font-size: calc(50px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

/* Heading at the top with smaller font size */
h1 {
  font-size: 36px; /* Smaller heading size */
  margin-bottom: 20px; /* Add space below the heading */
  color: black; /* Set color to black */
}

/* Increase the search box size */
input[type="text"] {
  width: 250px; /* Make input a bit wider */
  padding: 10px; /* Add padding for better spacing */
  font-size: 16px; /* Increase font size */
  margin-bottom: 20px; /* Add space below search box */
}

/* Search button styling */
button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px; /* Make button text larger */
  margin-bottom: 20px; /* Add space below the button */
}

/* Center the weather details box below the search box */
.weather-details{
  margin-top: 100px;
  padding: 50px;
  border: 1px solid #f8f5f5;
  border-radius: 100px;
  width: 60%;
  height: auto; /* Adjust height to fit content */
  color: black;
  background-color: rgba(98, 97, 97, 0.4); /* Transparent background */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Centers the content inside */
  align-items: center; /* Centers the content inside */
  text-align: center; /* Center text */
}

.weather-details {
  width: 100%;
  border-collapse: collapse;
}
.weather-details-icon{
  padding: 8px;
  justify-content: center;
  border: 0px solid #ddd;
}

.weather-details th, .weather-details td {
  padding: 8px;
  text-align: left;
  border: 0px solid #ddd;
}

@media (max-width: 600px) {
  .weather-details th, .weather-details td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .weather-details th {
    background-color: #f4f4f4;
  }
}
